/**
 * brandung mod-form.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2014-10-13
 * MIT License (MIT)
 */


/* ==========================================================================
   Form Module
   ========================================================================== */


$module: '.mod-form';

#{$module} {
	textarea {
		height: 180px;
	}

	label {
		color: $text-color;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;

		&:after {
			@extend .clearfix;
		}

		input {
			float: left;
			margin: .1em .5em 0 0;
		}

		span {
			color: $text-color;
			float: left;
			text-align: left;

			@include respond-max($breakpoint-max-l) {
				width: 85%;
			}
		}

		a {
			color: $ci-color;
		}

		p {
			&.is-invalid,
			&.error {
				display: none !important;
			}
		}
	}

	&__list {
		@extend %unstyled;

		li {
			margin: 0 0 $grid-gutter-width / 2 0;
			width: 100%;

			&:after {
				@extend %clearfix;
			}

			#{$module}__field {
				margin: 0;
			}
		}
	}

	#{$module}__fields {
		width: 100%;

		&:after {
			@extend %clearfix;
		}

		#{$module}__field {
			float: left;
			margin-left: 1%;

			&:first-child {
				margin-left: 0;
			}
		}

		#{$module}__input-box {
			display: block;
		}
	}

	#{$module}__field {
		margin: 0 0 $grid-gutter-width / 2 0;
		width: 100%;
		position: relative;

		&:first-child {
			margin-left: 0;
		}

		#{$module}__input-box {
			display: block;

			label {
				display: block;
			}
		}

		&#{$module}__field--size-one-quarter {
			width: 24%;
		}

		&#{$module}__field--size-three-quarter {
			width: 75%;
		}

		+ .field {
			float: right;
		}

		p {
			display: none;

			&.is-invalid {
				display: block;
			}
		}
	}

	/* date-select-fields */
	#{$module}__input-date-wrapper {
		&:after {
			@extend %clearfix;
		}

		#{$module}__input-box {
			float: left;
			margin-left: 1%;
			width: 32.66%;

			&:first-child {
				margin-left: 0;
			}
		}

		span {
			float: left;
			margin-left: 2%;
			padding: 8px 0;
		}
	}

	/* error */
	.error,
	.error a,
	.error a:visited,
	.error a:hover,
	.error a:focus {
		color: $error-color;
	}

	.error,
	.is-invalid {
		input,
		select,
		textarea {
			border-color: $error-color;
			color: $error-color;
		}

		label {
			span {
				color: $error-color;
			}
		}
	}

	p {
		&.error,
		&.is-invalid {
			@include fontSizeREM(11);
			display: block;
		}
	}
}
